body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: black;
}

.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: white;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    animation: roll-dice 0.5s linear;
}
form{
    text-align: center;
}

input[type="submit"] {
    padding: 15px 20px;
    background-color: white;
    color: black;
    font-size: large;
    border: none;
    cursor: pointer;
}

h1, label {
    color: white;
}

@keyframes roll-dice {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}