<!DOCTYPE html>
<html>

<head>
    <title>Dice Rolling App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Dice Roller</h1>
        <form action="/roll_dice" method="post">
            <label for="num_dice">Number of dice:</label><br>
            <input type="number" id="num_dice" name="num_dice" min="1" max="10" required>
            <br><br>
            <input type="submit" value="Roll Dice">
        </form>
    </div>
</body>

</html>